<div class="row align-items-center">
    <div class="col-auto">
        <h5>
            <app-word-badge
                [currentUser]="currentUser"
                [word]="word"
                [displayFound]="!isModerator">
            </app-word-badge>
        </h5>
    </div>    
    <div class="col-auto">
        <span class="badge bg-primary mx-1">{{ word?.users?.length }}/{{ currentLobby?.users?.length - 1 }}</span>
    </div>
</div>
<div class="row">
    <div class="col-auto">
        <app-user-badge
            class="mx-1" 
            *ngFor="let user of word?.users" 
            [user]="user">
        </app-user-badge>
    </div>
</div>