<div class="container">
  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Users</h2>
          <div *ngIf="lobby$ | async as lobby; else indicator">
            <ul>
              <li *ngFor="let user of lobby.users">{{user.name}} <small *ngIf="user.id == lobby.owner.id">Owner</small></li>
            </ul>
          </div>
          <ng-template #indicator>
            <div class="text-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Lobby Information</h2>
          <p>UserToken: {{ userToken }}</p>
          <p>LobbyToken: {{ lobbyToken }}</p>

          <div *ngIf="lobby$ | async as lobby; else indicator">
            <div *ngIf="userId == lobby.owner.id">
              <app-game-creator [lobby]="lobby"></app-game-creator>
            </div>
          </div>
          <ng-template #indicator>
            <div class="text-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-template>  

        </div>
      </div>
    </div>

  </div>
</div>
