flask~=1.1.2
flask_cors
flask-marshmallow
flask-sqlalchemy
marshmallow-sqlalchemy
connexion[swagger-ui]~=2.7.0
SQLAlchemy~=1.3.23
pytest-mock~=3.5.1
pytest-cov
pytest~=6.2.2
pyyaml
markupsafe~=2.0.1
flask-socketio~=5.0.1
