<div class="container">
  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="inputName">Your Name</label>
        <input class="form-control" name="inputUsername" [(ngModel)]="username">
        <small class="form-text text-muted">Please enter your name</small>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Join Lobby</h2>

            <div class="form-group">
              <label for="inputLobbyToken">Lobby Token</label>
              <input class="form-control" name="inputLobbyToken" [(ngModel)]="lobbyToken">
              <small class="form-text text-muted">Please enter the token the owner of the lobby sent to you.</small>
            </div>

            <div class="form-group">
              <label for="inputUserToken">User Token</label>
              <input class="form-control" name="inputUserToken" [(ngModel)]="userToken">
              <small class="form-text text-muted">If you already have a user token for the lobby you can enter it
                here.</small>
            </div>

            <button class="btn btn-primary" (click)="joinLobby()">Join Lobby</button>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Create Lobby</h2>
          <button class="btn btn-primary" (click)="createLobby()">Create Lobby</button>
        </div>
      </div>
    </div>

  </div>
</div>
