/* You can add global styles to this file, and also import other style files */

// Variable overrides first
$primary: #008849;

$font-family-base: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    text-decoration-color: #ffc000;
    text-decoration-thickness: 0.3rem;
}


ol.breadcrumb {
    background-color: transparent;
}

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";