<div class="col">

  <p *ngIf="isModerator()">You are the moderator. Please select the words for this round.</p>
  <p *ngIf="!isModerator()">The moderator is selecting the words for this round.</p>

  <div *ngIf="isModerator()" class="input-group mt-3">
    <input type="text" class="form-control" placeholder="Enter a word to add" [(ngModel)]="wordInput">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" (click)="addWord()">Add Word</button>
    </div>
  </div>
  
  <ul class="list-group mt-3">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let word of currentLobby?.words">
      <span *ngIf="isModerator()">
        {{ word.text}}
      </span>
      <span *ngIf="!isModerator()" class="placeholder">
        {{ word.text }}
      </span>
      <button type="button" class="btn-close" aria-label="Close" (click)="removeWord(word)">
      </button>
    </li>
  </ul>
  
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary mt-5" [disabled]="!isModerator()" (click)="onBack()">
        Back
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary mt-5" [disabled]="!isModerator()" (click)="onSubmit()">
        Start Game
      </button>
    </div>
  </div>

</div>